= simple_form_for @domain_block, as: :activitypub_domain_block,
                                 url: admin_domain_blocks_path do |f|
  = f.input :domain
  = f.input :severity, collection: ActivityPub::DomainBlock::SEVERITIES

  = f.submit class: 'btn btn--primary'
  a.btn.btn-outline--secondary.ml--sm(href=admin_domain_blocks_path) = t('.cancel')
