.btn {
  border: 1px solid transparent;
  padding: calc(var(--space-sm) * 1.1) calc(var(--space-sm) * 1.4);
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  border-radius: var(--border-radius-md);
  user-select: none;
  cursor: pointer;
  -webkit-font-smoothing: unset;

  &:hover {
    text-decoration: none;
  }
}

// themes

.btn--secondary {
  background-color: var(--color-contrast-low);
  color: var(--color-white);
}

.btn--success {
  background-color: var(--color-success);
  color: var(--color-white);
}

.btn--danger {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.btn-outline--primary {
  border-color: var(--color-primary);
}

.btn-outline--secondary {
  border-color: var(--color-contrast-medium);
  color: var(--color-contrast-medium);
}

.btn-outline--success {
  border-color: var(--color-success);
  color: var(--color-success);
}

.btn-outline--danger {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

// sizes

.btn--lg {
  font-size: calc(var(--btn-font-size) * 1.3);
  padding: calc(var(--space-sm) * 0.9) calc(var(--space-sm) * 1.15);
}

.btn--sm {
  font-size: var(--btn-font-size);
  padding: calc(var(--space-sm) * 0.75) calc(var(--space-sm));
}

// modifiers

.btn--block {
  display: block;
  text-align: center;
  width: 100%;
}

// loading state

.btn--loading {
  color: transparent;
  pointer-events: none;

  &:before {
    font-family: Feather;
    content: "\E986";
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-white);
    font-size: var(--text-lg);
    animation: spin 1.2s infinite linear;
    margin-left: -8px;
    margin-top: -8px;
  }

  &.btn-outline--primary:before { color: var(--color-primary); }
  &.btn-outline--secondary:before { color: var(--color-contrast-medium); }
  &.btn-outline--success:before { color: var(--color-success); }
  &.btn-outline--danger:before { color: var(--color-accent); }

  &.btn--lg:before { margin-top: -10px; margin-left: -10px; }
  &.btn--sm:before { font-size: var(--text-md); margin-top: -6px; margin-left: -6px; }
}

// animations

@keyframes spin {
  100% { transform: rotate(360deg) };
}
