h2 {
  margin-bottom: var(--space-xxs);
}

h6 {
  font-size: var(--text-base-size);
  font-weight: 600;
  margin-bottom: var(--space-xxs);
}

.text-component--sm {
  font-size: 0.9em;
  --text-vspace-multiplier: .8;
}

.text--muted,
.text--muted * {
  color: var(--color-contrast-medium) !important;
}

.page-title {
  font-size: var(--text-lg);
  font-weight: 600;
  margin-bottom: var(--space-xs);
}
