meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="apple-touch-icon" sizes="180x180" href="/ios.png")
link(id="favicon" rel="icon" href="/favicon.png" type="image/png" sizes="32x32" data-controller="favicon")
link(rel="manifest" href=manifest_path(format: :json))

meta(name="current-account-id" content=current_account&.id)
meta(name="sendry-dsn" content=ENV['SENTRY_DSN_FE'])
meta(name="local-https" content=ENV['LOCAL_HTTPS'])
meta(name="local-domain" content=ENV['LOCAL_DOMAIN'])
