- tags = TagsQuery.new.popular.first(10).map(&:decorate)

.box.--touches-header.mb-3.popular-tags
  .box__body
    ul
      - tags.each do |tag|
        li.list-inline-item
          a(href=tag.path) ##{tag.name}
