.avatar {
  border-radius: 100%;
  background: var(--color-accent-low);
  height: calc(var(--text-base-size) * 2);
  width: calc(var(--text-base-size) * 2);
}

.avatar--xl {
  height: calc(var(--text-base-size) * 4);
  width: calc(var(--text-base-size) * 4);
}

.avatar--lg {
  height: calc(var(--text-base-size) * 3);
  width: calc(var(--text-base-size) * 3);
}

.avatar--sm {
  height: calc(var(--text-base-size) * 1.5);
  width: calc(var(--text-base-size) * 1.5);
}

.avatar--xs {
  height: calc(var(--text-base-size) * 1);
  width: calc(var(--text-base-size) * 1);
}
