// elements

.comment {
  border-bottom: 1px solid var(--color-border);
}

.comment__children {
  padding-left: var(--space-sm);
  border-left: 3px solid var(--color-border);
  margin-bottom: var(--space-sm);

  &:empty {
    display: none;
  }
}

.comment__meta {
  display: flex;
  font-size: .9em;
  align-items: center;
  color: var(--color-contrast-medium);

  li:not(.no-dot):not(:last-child)::after {
    content: "\2022";
    margin-left: var(--space-xs);
    color: inherit;
  }

  li:not(:last-child) {
    margin-right: var(--space-xs);
  }

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  // Top meta
  &:first-child {
    font-size: .9em;
    padding: var(--space-xxxs) 0;
    cursor: pointer;
  }

  // Bottom meta
  &:last-child {
    font-size: .8em;
  }

  li:not(.comment__author):not(.comment__time):not(.comment__votes) {
    opacity: .3;
  }
}

.comment__inner {
  padding: var(--space-xs) var(--space-sm) var(--space-sm) 0;
}

.comment__body {
  margin-top: var(--space-xxxs);
  margin-bottom: var(--space-xs);
}

.comment__author {
  a {
    color: var(--color-contrast-higher);
    text-decoration: underline;
  }

  .media {
    align-items: center;
  }
}

.comment__votes-btn {
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid var(--color-contrast-medium);
    display: inline-block;
    margin-right: 5px;
    top: -1px;
    position: relative;
  }

  &:hover:before {
    animation: comment-like-arrow-hover .3s infinite;
  }
}

// modifiers

.comment:hover {
  > .comment__inner > .comment__meta:first-child {
    background: var(--color-bg);
  }

  > .comment__inner > .comment__meta li {
    opacity: 1 !important;
  }
}

.comment--closed {
  > .comment__inner {
    > .comment__meta:first-child {
      background: var(--color-contrast-lower);
      opacity: 0.5;
    }
  }

  > .comment__inner {
    > .comment__body,
    > .comment__meta:last-child,
    > .comment__children {
      display: none;
    }
  }

  > .comment__children,
  > .comment__reply-container,
  > .comment__new-replies {
    display: none;
  }
}

.comment--liked {
  & > .comment__inner > .comment__meta .comment__votes-btn {
    color: var(--color-liked);
    font-weight: 600;

    &:hover:before {
      animation: none;
    }

    &:before {
      border-bottom-color: var(--color-liked);
    }
  }
}

.comment--removed {
  > .comment__inner {
    opacity: 0.5;
  }
}

.comment--silenced {
  > .comment__inner {
    opacity: 0.5;
  }
}

// animations

@keyframes comment-like-arrow-hover {
  0% { top: 1px; }
  50% { top: -2px; }
  100% { top: 1px; }
}
