:root, body {
  --dropdown-space-base: var(--space-xs);
}

.dropdown {
  list-style: none;
  display: none;
  background: var(--color-dropdown-bg);
  border-radius: var(--border-radius);
  list-style: none;
  margin: 0;
  padding: var(--dropdown-space-base);
  box-shadow: var(--box-shadow-md);
  z-index: 300;
  color: var(--color-dropdown);

  &__item {
    margin-top: 0;
    padding: 0 var(--dropdown-space-base);
    position: relative;
    text-decoration: none;

    a {
      border-radius: var(--border-radius-sm);
      color: inherit;
      text-decoration: none;
      display: block;
      margin: 0 calc(var(--space-xs) * -1);
      padding: calc(var(--space-xs) * 0.8) var(--dropdown-space-base);
      color: var(--color-dropdown-link);
    }

    > a.active,
    > a:active,
    > a:hover {
      color: var(--color-dropdown-link-active);
      background: var(--color-dropdown-link-active-bg);
    }

    &+.dropdown__item {
      margin-top: calc(var(--space-xxxs));
    }
  }

  &__divider {
    border-top: 1px solid var(--color-dropdown-divider-border);
    height: 1px;
    margin: calc(var(--space-xs) * 1.1) 0;

    &[data-content] {
      margin: var(--space-sm) 0;
    }

    &::after {
      background: var(--color-dropdown-bg);
      color: var(--color-dropdown-divider, var(--color-contrast-medium));
      content: attr(data-content);
      display: inline-block;
      font-size: var(--text-sm);
      padding: 0 var(--dropdown-space-base);
      transform: translateY(-.65rem);
    }
  }
}

.dropdown--opened {
  display: block;
}
