.empty {
  text-align: center;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.empty__icon {
  font-size: var(--text-lg);
  margin-bottom: var(--space-xxs);
}

.empty__title {
  font-weight: bold;
  font-size: var(--text-md);
}

.empty__subtitle {
  margin-top: var(--space-sm);
}
