= render 'search/head'

.box
  .box__body
    - if params[:q].blank?
      .empty
        .empty__icon
          | &times;
        p.empty__title = t('nothing_to_show')
        p.empty__subtitle = t('search.generic.please_provide_query')

    - elsif @comments.empty?
      .empty
        .empty__icon
          | &times;
        p.empty__title = t('nothing_to_show')
        p.empty__subtitle = t('search.generic.no_results_found')

    - else
      = render 'comments/list', comments: @comments,
                                show_reply_link: false,
                                show_story: true,
                                show_blank: false

= paginate @comments, theme: :mini_box
