.box.bg--default.mb--md
  - if flaggable.is_a?(ActivityPubPost)
    .stories-list
      ul
        = render 'stories/story', story: flaggable
  - else
    ul.px--xxs
      = render 'comments/comment', comment: flaggable
