- url = story.is_a?(Stories::Update) ? story_path(story.story) : stories_path
- method = story.is_a?(Stories::Update) ? :put : :post

= simple_form_for story, as: :story,
                         url: url,
                         wrapper: :spectre_vertical_form,
                         method: method,
                         html: { data: { controller: 'story-form' } } do |f|

  - if f.object.errors[:base].any?
    .toast.toast-error
      h5 = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  / Story URL
  .form-group(class=('has-error' if f.object.errors[:url].any?))
    label.form-label URL
    .input-group
      = f.input_field :url, placeholder: 'https://...',
                            class: 'form-control',
                            data: { target: 'story-form.urlInput', action: 'input->story-form#handleUrlChange' },
                            readonly: story.is_a?(Stories::Update) && !policy(f.object).update_url?

      button.btn.btn--primary.input-group__btn(
        data-action="click->story-form#fetchTitle"
        data-target="story-form.fetchTitleBtn"
        class=('btn--disabled' if f.object.url.blank?)
      )
        = t('.fetch_title')

    = f.full_error :url, class: 'form-hint'
    div.form-hint.text-gray
      = t('.url_help')

  / Story title
  = f.input :name, input_html: { class: 'input-lg',
                   data: { target: 'story-form.titleInput' } },
                   required: false,
                   readonly: story.is_a?(Stories::Update) && !policy(@story.story).update_title?

  / Story tags
  .form-group.story_tag_list(class=('has-error' if f.object.errors[:tag_list].any?))
    = f.label :tag_list, class: 'form-label'
    input(
      data-target="story-form.tagsPhantomInput"
      data-max-tags=Setting.max_story_tags
      value=f.object.tag_list
    )

    = f.input_field :tag_list, as: :hidden,
                               hint: 'Comma-separated list of tags',
                               data: { target: 'story-form.tagsInput' }

    = f.full_error :tag_list, class: 'form-hint'

  / Story description
  label.form-label(for="story_description") Description
  = render 'shared/markdown_editor', form: f, name: :content_source

  p.form-hint.text-gray.mb--lg
    = t('.description_help')

  = f.submit class: 'btn btn--primary'
