.grid
  .col--sm-8
    .box
      .box__body.p--md
        .text-component
          h1.text--lg.fw--600
            = t('.title')

          p
            = t('.submit_text')

        hr

        = render 'stories/form', story: @story

  .col--sm-4
    = render 'stories/guidelines'
