doctype html
html
  head
    = render 'shared/head'
    = render 'shared/sentry'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    = csrf_meta_tags
    = csp_meta_tag

  body(data-theme=current_user_setting(:theme))
    = render 'shared/navbar'

    .container
      .grid
        .col--3
          ul.nav
            li.nav__item(class=('active' if params[:controller] =~ /^settings/))
              a.nav__heading(href=settings_profile_path) Settings
              ul.nav
                = active_link_to t('.edit_profile'), settings_profile_path, wrap_tag: :li, wrap_class: 'nav__item'
                = active_link_to t('.preferences'), settings_preferences_path, wrap_tag: :li, wrap_class: 'nav__item'

            - if current_user.is_admin?
              li.nav__item(class=('active' if params[:controller] =~ /^admin/))
                a.nav__heading(href=edit_admin_settings_path) Administration
                ul.nav
                  = active_link_to t('.site_settings'), edit_admin_settings_path, wrap_tag: :li, wrap_class: 'nav__item'
                  = active_link_to t('.accounts'), admin_accounts_path, wrap_tag: :li, wrap_class: 'nav__item'
                  = active_link_to t('.flags'), admin_flags_path, wrap_tag: :li, wrap_class: 'nav__item'
                  = active_link_to t('.blocked_domains'), admin_domain_blocks_path, wrap_tag: :li, wrap_class: 'nav__item'

                  li.nav__item
                    = link_to t('.sidekiq'), sidekiq_path

        .col--9
          = render 'shared/flash'
          = yield

    = render 'shared/footer'
